<html>
        <body>

                <figure>
                    <center><img src="/static/fabric_logo.png", width="515", height="300"/></center>
                        <figcaption>
                            <center> <h1>Welcome to FABRIC Public Metrics</h1></center>
                        </figcaption>
                </figure>

                <center>
                        <p>This site provides access to publicly available FABRIC Metrics.
                        <p><a href="grafana">Grafana</a> provides several dashboards to view FABRIC Dataplane Link throughput.
                        <p>The <a href="latency">Latency</a> page shows the One Way Latency (OWL) values between FABRIC sites with GPS enabled PTP servers.
                        <p>View ESnet Optical Data Dashboards at <a href="https://public.stardust.es.net/dashboards/f/qdmDZ1_4k/fabric"> ESnet </a>
                </center>

        </body>
</html>