  grafana:
    container_name: "{{ install_name }}_grafana" 
    #image: grafana/grafana:10.0.1
    image: grafana/grafana:11.1.0

    user: "grafana:root"

    volumes:
      # data base dir
      - "{{ base_data_dir }}/grafana/data:/var/lib/grafana"
      # provisioning dirs for default datasources and dashboards  
      - "{{ base_install_dir }}/grafana/provisioning/:/etc/grafana/provisioning/"
      # plugin dirs 
      - "{{ base_install_dir }}/grafana/plugins/:/var/lib/grafana/plugins"
      # custom init settings dir
      - "{{ base_install_dir }}/grafana/custom:/etc/grafana/custom/"
      # Only needed when CiLogon is configured for Grafana auth. Nginx handles SSL termination otherwise.
      # TODO Check if the infrastructure needs this or if it is a remnant from the operators grafana
      - "{{ grafana_cert }}:/etc/grafana/certs/cert:ro"
      - "{{ grafana_key }}:/etc/grafana/certs/key:ro"

    env_file:
      - "{{ base_install_dir }}/grafana/env_file"

    logging:
      driver: json-file
      options:
        max-size: "1024m" 
        max-file: "5"

    restart: always
